<% @title = "Making requests" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <% if params[:country_name] %>
    <h1><%= _("Would you like to see a website like this in your country?") %></h1>
  <% else %>
    <h1>Desarrollada por Alaveteli</h1>
  <% end %>
  <p>Este sitio web funciona gracias a Alaveteli. Alaveteli es un software libre para formular solicitudes de Libertad de Información (FOI – Freedom of Information) o de Acceso a la Información (ATI – Access to Information). Puede traducirse fácilmente en cualquier idioma y ser adaptado a las variaciones de las leyes de libertad y acceso a la información.</p>



  <div id="hash_link_padding"></div>
</div>