<% @title = "¿Cómo nos podés ayudar?" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
<h1 id="credits"><%= @title %> <a href="#credits">#</a> </h1>

<dt id="helpus">Aportaciones económicas<a href="#helpus">#</a></dt>
<dd>Si quieres hacer una donación económica a Derecho al Dato podés hacerlo  <a href="https://cafecito.app/derechoaldato">aquí</a>. Este dinero lo utilizaremos para mantener la Web y fomentar actividades que fortalezcan la transparencia en el país.</dd>

<dl>
<dt id="voluntarios">Voluntarios <a href="#voluntarios">#</a></dt>
<dd>
 <ul>
 <li>Ayudanos a difundir este proyecto, con un post en tu web o en tu blog, por ejemplo o con Twitter recomendando usando #derechoaldato. </li>
 <li>Si ves algún problema con la web, avisanos ya que siempre estamos trabajando en ella.</li>
 <li>Si querés ayudarnos con el diseño y la programación de la web, o con la administración del servidor, sos más que bienvenido. <a href="<%= help_contact_path %>">Contactanos</a></li>
 </ul>
</dd>

<dt id="instpublicas">Instituciones públicas<a href="#instpublicas">#</a></dt>
<dd>Si sos parte de una institución pública, podés ser entidad colaboradora o aliada. No podés darnos dinero pero podemos coordinar esfuerzos para hacer que la Web sea mejor y más colaborativa. ¡Juntos podemos fomentar la transparencia en Argentina!</dd>
 
</dl>

<div id="hash_link_padding"></div>

</div>