<% @title = "Respuestas insatisfactorias" %>
<% if @info_request %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">


  <h1>Respuestas insatisfactorias '<%=request_link(@info_request) %>'?
  </h1>
<% else %>
  <h1>¡No respondieron mi solicitud!</h1>
<% end %>

<p>Cada vez son más los organismos que se ajustan a la ley de acceso a la información pública, pero aún persisten algunos que no lo hacen. Si no respondieron tu pedido de información podés reclamar para que lo hagan (seleccioná la opción para reclamar en la barra de acciones de la solicitud).</p>


<p>También hay otras razones que podrían explicar la falta de respuesta:</p>

<ul>
  <li>Quizás no se cumplió aún el plazo de 15 días hábiles (no corridos).</li>
  <li>También podría ser que te hayan notificado de una prórroga por otros 15 días hábiles.</li>
  <li>Quizás el pedido llegó más tarde al organismo porque fue derivado por otro. En ese caso el plazo empieza a correr desde que fue recibido por el organismo que debe contestar el pedido.</li>
  <li>Podría tratarse de un problema real. Quizás la autoridad nunca recibió la solicitud. Vale la pena comunicarse por teléfono y constatar que hayan recibido la solicitud que se les envió por correo electrónico.</li>
  <li>Si no lo han recibido, el problema probablemente se deba a los "filtros de spam". Podés invitar a la autoridad a revisar <a href="<%= help_officers_path %>"> este portal de ayuda para RAIPs</a>.</li>
</ul>


<h1 id="mas_tiempo">Me dijeron que se tomarían más tiempo para responder, ¿pueden hacerlo?<a class="hover_a" href="#mas_tiempo">#</a> </h1>

<p>
Las solicitudes de información tienen que ser respondidas en el plazo legal y sólo excepcionalmente, cuando existan verdaderas razones que lo justifiquen, los organismos pueden extender el plazo para responder.  Ese nuevo plazo de prórroga varía según la legislación pero nunca excede los 15 días hábiles.
</p>
<p>
Para hacer uso de la prórroga es necesario que el organismo notifique al solicitante la ampliación de plazos, dando las razones pertinentes, antes del vencimiento del plazo original para responder la solicitud.</p>
<p>
Si te pidieron prórroga, te pedimos que marques tu solicitud como no resuelta.

</p>

<h1 id="dire_casa">¡Me pidieron la dirección de mi casa!<a class="hover_a" href="dire_casa">#</a> </h1>

<p>
Si una autoridad o entidad a la que pediste información te solicitó que indiques tu dirección física, no estás obligado a brindarla. La dirección de correo electrónico que provee Derecho al Dato es suficiente.
</p>

<h1 id="no_postal">No, no, ¡necesitan una dirección postal para enviar una respuesta en papel!<a class="hover_a" href="#no_postal">#</a> </h1>

<p>
En principio, la respuesta a tu solicitud tiene que brindarse por medios digitales. La plataforma de Derecho al Dato debería ser suficiente. Solo excepcionalmente tu pedido podría ser respondido en papel, si la información no consta en formato digital y siempre y cuando la digitalización de los documentos constituya una carga desmedida para la Administración. En tal caso sería aceptable que te requieran una dirección postal.
</p> 
<p>
Si deseás proporcionar tu dirección postal de forma privada para recibir los documentos, marcá tu solicitud como "van a responder por correo", y te daremos una dirección de correo electrónico para usar con ese fin.
</p>
<p>
También tené en cuenta que si no te brindan respuesta en formato digital pero deberían hacerlo, podés reclamar para que te envíen la información por vía electrónica (ver <a href="https://derechoaldato.com.ar/es_AR/help/unhappy">sección respuestas insatisfactorias)</a>.
</p>

<h1 id="ir_a_buscar">Me citaron para ir a buscar la respuesta a mi solicitud, ¿debo ir?<a class="hover_a" href="#ir_a_buscar">#</a> </h1>

<p>¡No! No estás obligado a comparecer personalmente para retirar la respuesta a tu solicitud. Como dijimos antes, la respuesta tiene que darse por medios digitales y excepcionalmente podrían enviártela por correo postal.</p>
<p>Es a veces una mala práctica de los organismos citar personalmente a los solicitantes para que ratifiquen el pedido o bien para retirar la respuesta. ¡No está bien que lo hagan! En tal caso, podés reclamar para que te provean los documentos por medios digitales (ver sección <a href="https://derechoaldato.com.ar/es_AR/help/unhappy">respuestas insatisfactorias</a>).</p>

<h1 id="embebido">Me enviaron un archivo “embebido”, ¿es una broma?<a class="hover_a" href="#embebido">#</a> </h1>

<p>
No, aunque pueda causar gracia al común de los mortales, así es como llaman algunas autoridades a los archivos adjuntos que puede contener un PDF.
</p> 
<p>
Debés tener instalado en tu PC el programa Adobe Reader. Si no lo tenés, o no está actualizado, lo podés descargar gratuitamente <a href="https://get.adobe.com/es/reader/">(get.adobe.com/es/reader/)</a>. El navegador web no te permite ver los archivos adjuntos.
</p>
<p>
Para abrir los archivos embebidos tenés que abrir el PDF desde tu PC con el programa Adobe Reader y hacer click en el ícono del clip que está en sobre la izquierda del documento. Allí se desplegará una lista con los archivos embebidos al PDF.
</p>

<h1 id="reserva">Me dieron información pero me exigieron que la mantenga en reserva<a class="hover_a" href="#reserva">#</a> </h1>

<p>
La información debe ser entregada sin condicionamientos, para que la puedas reutilizar y difundir. Si tenés dudas ponete en <a href="<%= help_contact_path %>">contacto con nosotros</a>.
</p>

<h1 id="en_parte">Solo respondieron una parte de mi solicitud, ¿puedo reclamar?<a class="hover_a" href="#en_parte">#</a> </h1>

<p>
Las respuestas deben ser completas. Si te brindaron solo parte de la información solicitada podés reclamar por la información faltante. No hace falta que hagas un nuevo pedido.
</p>
<p>
De todos modos te recomendamos que tus pedidos sean bien precisos y acotados. Si pedís mucha información en una sola solicitud será dificultoso para el sujeto obligado reunir todos los datos en una sola respuesta.
</p>

<h1 id="emosido">Me denegaron el pedido de información.
<a class="hover_a" href="#emosido">#</a> </h1>

<p>
Sólo puede ser válida la denegatoria de información pública si se cumple con estos requisitos:
</p>

<ul>
<li>El acto denegatorio tiene que estar firmado por la máxima autoridad del organismo o entidad, o por una persona con facultades delegadas expresamente.</li>
<li>La denegatoria tiene que estar justificada según las circunstancias de cada caso. No es válido remitirse simplemente a normas legales. Además, los organismos tienen que valorar el interés público comprometido en cada pedido.</li>
<li>La denegatoria se tiene que encuadrar siempre en alguno de los supuestos de excepción previstos por la <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/265000-269999/265949/norma.htm">Ley Nº 27.275 en el artículo 8º</a>, que aquí resumimos:</li>

<ul><li>Razones de defensa o política exterior.</li>
</ul>

</ul>